{
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script"
    },
    "extends": [
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": ["import", "prettier"],
    "rules": {
        "prettier/prettier": "error"
    }
}
